@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
  .h-screen-minus-mt-12 {
    height: calc(100vh - 3rem);
  }
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: auto; /* or thin */
  scrollbar-color: #B44C44 #FFF5D9; /* thumb and track color */
}

html::-webkit-scrollbar {
  width: 0.5rem;  /* Adjust to your preference */
}

html::-webkit-scrollbar-track {
  background: #FFF5D9;  /* Scroll bar background */
  border: 1px solid #71302B;
}

html::-webkit-scrollbar-thumb {
  background-color: #B44C44;  /* Scroll bar thumb color */
  border: 1px solid #71302B;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.card {
  padding: 2em;
}

#app {
  min-width: 100vw;
  margin: 0;
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: clamp(0.9rem, -0.34vw + 0.97rem, 0.7rem);
          --font-size-base: clamp(1.13rem, 0vw + 1.13rem, 1.13rem);
          --font-size-md: clamp(1.41rem, 0.69vw + 1.27rem, 1.82rem);
          --font-size-lg: clamp(1.76rem, 1.98vw + 1.36rem, 2.95rem);
          --font-size-xl: clamp(2.2rem, 4.28vw + 1.34rem, 4.77rem);
          --font-size-xxl: clamp(2.75rem, 8.27vw + 1.09rem, 7.71rem);
          --font-size-xxxl: clamp(3.43rem, 15.07vw + 0.42rem, 12.48rem);
    }
  }
  /* Fallback variables for browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: 0.9rem;
          --font-size-base: 1.13rem;
          --font-size-md: 1.41rem;
          --font-size-lg: 1.76rem;
          --font-size-xl: 2.2rem;
          --font-size-xxl: 2.75rem;
          --font-size-xxxl: 3.43rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
        --font-size-sm: 0.7rem;
              --font-size-base: 1.13rem;
              --font-size-md: 1.82rem;
              --font-size-lg: 2.95rem;
              --font-size-xl: 4.77rem;
              --font-size-xxl: 7.71rem;
              --font-size-xxxl: 12.48rem;
      }
    }
  }

  /* can convert to hsl and manage this with % variables if prefered; i put hex because i already have these colours*/
:root {
  --dark-text-blue: #00495A;
  --dark-text-red: #71302b;
  --paper-red: #f9dfdd;
  --soft-red: #ed9f99;
  --vivid-red: #e15f55;
  --paper-blue: #cce9f0;
  --soft-blue: #66bdd2;
  --vivid-blue: #0091b4;
  --paper-green: #f0f6f2;
  --soft-green: #d3e3d9;
  --vivid-green: #b5d1c0;
  --paper-yellow: #fff5d9;
  --soft-yellow: #fee28d;
  --vivid-yellow: #fdcf41;
}

/*heading font when offline: https://github.com/Interstices-/GapSans; if online, use Citizen OT(adobe font) */
@font-face {
  font-family: 'gap_sansregular';
  src: url('assets/fonts/gapsans-webfont.eot');
  src: url('assets/fonts/gapsans-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/gapsans-webfont.woff2') format('woff2'),
       url('assets/fonts/gapsans-webfont.woff') format('woff'),
       url('assets/fonts/gapsans-webfont.ttf') format('truetype'),
       url('assets/fonts/gapsans-webfont.svg#gap_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gap_sansblack';
  src: url('assets/fonts/gapsansblack-webfont.eot');
  src: url('assets/fonts/gapsansblack-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/gapsansblack-webfont.woff2') format('woff2'),
       url('assets/fonts/gapsansblack-webfont.woff') format('woff'),
       url('assets/fonts/gapsansblack-webfont.ttf') format('truetype'),
       url('assets/fonts/gapsansblack-webfont.svg#gap_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gap_sansbold';
  src: url('assets/fonts/gapsansbold-webfont.eot');
  src: url('assets/fonts/gapsansbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/gapsansbold-webfont.woff2') format('woff2'),
       url('assets/fonts/gapsansbold-webfont.woff') format('woff'),
       url('assets/fonts/gapsansbold-webfont.ttf') format('truetype'),
       url('assets/fonts/gapsansbold-webfont.svg#gap_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}


h1, h2, h3, h4, h5, h6 {
  font-family: Gap_sansregular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1;
}

.bold-heading {
  font-family: Gap_sansblack, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

.oblique-heading {
  font-family: Gap_sansregular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique 6deg;
  padding-right: 0.5ch;
}
/*Gill Sans when offline, if online use Brandon Grotesque (adobe font)*/
p {
  font-family: 'brandon-grotesque', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  max-width: 72ch;
}

h1 {
    font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
  }
h3 {
  font-size: var(--font-size-xl);
}
h4 {
  font-size: var(--font-size-lg);
}
h5 {
  font-size: var(--font-size-md);
}
h6 {
  font-size: var(--font-size-base);
}

small {
  font-size: var(--font-size-sm);
}


button {
  padding: 0.6rem;
  font-family: Gap_sansregular, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--dark-text-red);
  font-size: var(--font-size-base);
  border: var(--dark-text-red) 1px solid;
  min-width: 6rem;
}

button:hover {
cursor: pointer;
box-shadow: 0 2px var(--dark-text-red);
transform: translateY(-1px);
}

.utility {
  background-color: white;
}

.utility:active {
  box-shadow: 0 1px var(--dark-text-red);
  transform: translateY(1px);
}

.phase1 {
  background-color: var(--paper-yellow);
}

.phase1:active {
  background-color: var(--soft-yellow);
  box-shadow: 0 1px var(--dark-text-red);
  transform: translateY(1px);
}

.phase2 {
  background-color: var(--paper-green);
}

.phase2:active {
  background-color: var(--soft-green);
  box-shadow: 0 1px var(--dark-text-red);
  transform: translateY(1px);
}

.phase3 {
  background-color: var(--paper-red) ;
}

.phase3:active {
  background-color: var(--soft-red);
  box-shadow: 0 1px var(--dark-text-red);
  transform: translateY(1px);
}

.phase4 {
  background-color: var(--paper-blue);
}

.phase4:active {
  background-color: var(--soft-blue);
  box-shadow: 0 1px var(--dark-text-red);
  transform: translateY(1px);
}

.paper-yellow {
  background-color: var(--paper-yellow);
}

