:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px dashed #222222;
  margin:0.25em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-style: solid;
}
button:active {
  border-style: dotted;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'Fungal Grow 100 Thickness 500';
  src: url('assets/fonts/Fungal-Grow100Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow100Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fungal Grow 200 Thickness 500';
  src: url('assets/fonts/Fungal-Grow200Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow200Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 200 Thickness 1000';
  src: url('assets/fonts/Fungal-Grow200Thickness1000.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow200Thickness1000.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 300 Thickness 500';
  src: url('assets/fonts/Fungal-Grow300Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow300Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 300 Thickness 1000';
  src: url('assets/fonts/Fungal-Grow300Thickness1000.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow300Thickness1000.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 400 Thickness 500';
  src: url('assets/fonts/Fungal-Grow400Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow400Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 400 Thickness 1000';
  src: url('assets/fonts/Fungal-Grow400Thickness1000.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow400Thickness1000.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 500 Thickness 500';
  src: url('assets/fonts/Fungal-Grow500Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow500Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 500 Thickness 1000';
  src: url('assets/fonts/Fungal-Grow500Thickness1000.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow500Thickness1000.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 600 Thickness 500';
  src: url('assets/fonts/Fungal-Grow600Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow600Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 600 Thickness 1000';
  src: url('assets/fonts/Fungal-Grow600Thickness1000.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow600Thickness1000.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 700 Thickness 500';
  src: url('assets/fonts/Fungal-Grow700Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow700Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 700 Thickness 1000';
  src: url('assets/fonts/Fungal-Grow700Thickness1000.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow700Thickness1000.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 800 Thickness 500';
  src: url('assets/fonts/Fungal-Grow800Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow800Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 800 Thickness 1000';
  src: url('assets/fonts/Fungal-Grow800Thickness1000.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow800Thickness1000.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 900 Thickness 500';
  src: url('assets/fonts/Fungal-Grow900Thickness500.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow900Thickness500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fungal Grow 900 Thickness 1000';
  src: url('assets/fonts/Fungal-Grow900Thickness1000.woff2') format('woff2'),
      url('assets/fonts/Fungal-Grow900Thickness1000.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}