#main,
#sendButton {
    margin: 1rem;
}

svg {
    width: 22px;
    height: 22px;
    margin-bottom: -6px;
    margin-right: 20px;
}

#identity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border-radius: 1rem;
    margin: 0.25rem 0rem;
}

button.timeBtn {
    background-color:#333;
    border-radius: 0.5rem;
    color: white;
    padding: 0.25rem 0.5rem;
    border: 1px dashed white;
    font-family: monospace;
    float: right;
    margin: -0.15rem;
}

#message-form {
    margin-top:5rem;
}