#main,
#sendButton {
    margin: 1rem;
}

#main {
    min-height: 100vh;
}
svg {
    width: 22px;
    height: 22px;
    margin-bottom: -6px;
    margin-right: 20px;
}

#identity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border-radius: 1rem;
    margin: 0.25rem 0rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

li div:first-child {
    padding:10px;
  }

button.timeBtn {
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-width: 1px;
    border-style: dashed;
    font-family: monospace;
    margin: 0.15rem 0.25rem;
}
.addtimeBtn {
    background-color: green;
    color: white;
    border-color: white;
}
.rmtimeBtn {
    background-color: red;
    color: black;
    border-color: black;
}

#message-form {
    margin-top:2rem;
}

input {
    width:100%;
}

#footer {
    position:absolute;
    bottom: 15px;
    right: 15px;
}

